name: CI - MariaDB

on:
  pull_request:
    paths:
      - 'mariadb-backup/**'
      - '.github/workflows/ci-mariadb.yml'
      - 'scripts/**'

env:
  IMAGE_NAME: mariadb-dump-to-s3

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mariadb-version:
          - '11.4'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests with Compose
        run: |
          docker compose -f ./mariadb-backup/compose-ci.yml -p ci-test up --abort-on-container-exit --exit-code-from test-backup

      - name: Clean up
        if: always()
        run: |
          docker compose -f ./mariadb-backup/compose-ci.yml -p ci-test down -v
